<footer class="footer">
  <div class="footer_copyright">
    <div class="top">
      <span>Designed &amp; Developed by</span>
    </div>
    <div class="bottom">
      <span>Joseph Arias</span>
      <!-- <img class="emoji" src="" alt="emoji"> -->
      <%= image_tag("rockon.png", :class => "emoji") %>
      <span>2022</span>
    </div>
  </div>
  <div class="footer_links">
    <a href="https://www.linkedin.com/in/arias-joseph/" target="_blank" title="">
      <span class="text">Linkedin</span>
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://joseph-resume.s3.amazonaws.com/joseph-arias-resume.pdf" target="_blank" title="">
      <span class="text">Resume</span>
      <!-- <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt=""> -->
    </a>
    <a href="https://github.com/Salsa-Dude" target="_blank" title="">
      <span class="text">Github</span>
      <i class="fab fa-github"></i>
    </a>
    <!-- <a href="" target="_blank" title="">
      <span class="text">Leetcode</span> -->
      <!-- <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt=""> -->
    <!-- </a> -->
  </div>
</footer>

