<footer class="footer">
  <div class="footer_copyright">
    <div class="top">
      <span>Designed &amp; Developed by</span>
    </div>
    <div class="bottom">
      <span>Feng (Peter) Liu</span>
      <!-- <img class="emoji" src="" alt="emoji"> -->
      <%= image_tag("rockon.png", :class => "emoji") %>
      <span>2022</span>
    </div>
    <p>
      <a href="#">Back to top</a>
    </p>
  </div>
  <div class="footer_links">
    <a href="https://www.linkedin.com/in/fengliu93/" target="_blank" title="">
      <span class="text">Linkedin</span>
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://drive.google.com/file/d/1a6oVtKJ8bNZ74GOblVquPj84_0Uz9NOA/view" target="_blank" title="">
      <span class="text">Resume</span>
    </a>
    <a href="https://github.com/ek4aa" target="_blank" title="">
      <span class="text">Github</span>
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>
