<nav class="navbar">
<!-- <h1 class="logo"><a href="#"></a></h1> -->
  <ul class="main-nav">
    <!-- <li><a href="#">Home</a></li> -->
    <li><a href="#about-me">About</a></li>
    <li><a href="#my-skills">Skills</a></li>
    <li><a href="#my-projects">Projects</a></li>
  </ul>
  <div class="fadedown-enter-done">
    <a class="resume-button" href="https://joseph-resume.s3.amazonaws.com/joseph-arias-resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
  </div>
</nav> 
