<section id="about-me" class="section">
  <div class="section_title">
    About Me
  </div>
  <div class="section_content">
    <p>
      I'm a rising senior from <a class="underline-link" href="https://www.odu.edu/compsci" target="_blank">Old Dominion University</a> majoring in Computer Science, driven to create usable and reliable software and technologies that users can benefit from. 
    </p>
    <p> I am passionate about mentoring and advocating for minorities in STEM through my active participation in organizations like <a class="underline-link" href="https://www.shpe.org/" target="_blank">SHPE - Society of Hispanic Professional Engineers</a> and <a class="underline-link" href="https://techqueria.org/" target="_blank">Techqueria - Latinx In Tech</a>
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I like to take classes on salsa dancing and boxing.
    </p>
  </div>
</section>
