<section id="about-me" class="section">
  <div class="section_title">
    About Me
  </div>
  <div class="section_content">
    <p>
      I graduated from <a class="underline-link" href="https://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University</a> with a <strong>Bachelor's degree</strong> in Computer Engineering.
    </p>
    <p>
      <strong>Full Stack Developer</strong> with 8+ years of hands-on experience designing, developing, and implementing applications and solutions by using a range of technologies and programming languages.  
    </p>
    <p>
      <strong>Easily communicates</strong> complex technical requirements to non-technical stakeholders.
    </p>
    <p>
      Seeking to leverage broad development experience and hands-on technical expertise in a <strong>challenging role</strong> as a Full-stack Developer. 
    </p>
  </div>
</section>
