<section class="intro">
  <h1 class="intro_hello">Hello!
    <%= image_tag("wave.png", :class => "emoji wave-hand animated") %>
  </h1>
  <h3 class="intro_tagline">I'm
    <span class="name">Feng (Peter) Liu</span>, a Full-Stack developer who is specializing in Front-End & Back-End development, experienced with all stages of the development cycle for dynamic web projects.
    <%= image_tag("technologist.png", :class => "emoji techologist") %>
  </h3>
  <h4 class="intro_contact">
    <span>Get in touch </span>
    <%= image_tag("pointright.png", :class => "emoji pointer") %>
    <span>
      <a href="mailto:sgreverse0220@gmail.com" target="_blank" class="highlight-link">sgreverse0220@gmail.com</a>
    </span>
  </h4>
  <span id="top-btn" class="top-btn" style="color: black">
    <a href="#" >
      <i class="fas fa-arrow-circle-up"></i>
    </a>
  </span>
</section>
