<section id="my-projects" class="section">
  <!-- <div class="section_title">Skills</div> -->
  <div class="projects">
    <p class="project-overline">
      Featured Projects
    </p>
    <ul class="project-list">
      <%# <li class="project-li">
        <div class="project-content">
          <div>
            <h3 class="project-title">
              <a href="https://skillhub-frontend.herokuapp.com/categories" rel="noopener noreferrer" target="_blank">SkillHub</a>
            </h3>
            <div class="project-description">
              <p>SkillHub is a community platform where people can find local mentors in the DC area to meetup. Users can book a session, connect with mentors one-on-one, message mentors and even teach a class of their own and become a mentor.</p>
            </div>
            <ul class="project-tech-list">
              <li>React</li>
              <li>JavaScript</li>
              <li>Ruby On Rails</li>
              <li>AWS</li>
              <li>Redux</li>
              <li>PostgreSQL</li>
              <li>Semantic UI React</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <div class="project-links">
              <a href="https://github.com/Salsa-Dude/SkillHub" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://skillhub-frontend.herokuapp.com/" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="project-image">
          <a href="https://skillhub-frontend.herokuapp.com/categories" rel="noopener noreferrer" target="_blank">
          <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
            <!-- <div style="max-width: 700px; display: block;"> -->
              <img alt="" role="presentation" aria-hidden="true" src="https://featured-projects.s3.amazonaws.com/skillhub-project.png">
            <!-- </div> -->
          </div>
          </a>
        </div>
      </li> %>
      <li class="project-li">
        <div class="project-content">
          <div>
            <h3 class="project-title">
              <a href="https://tinyhome-frontend.herokuapp.com/properties" rel="noopener noreferrer" target="_blank">TinyHome</a>
            </h3>
            <div class="project-description">
              <p>Tiny Home Parkway is a online community marketplace for people to list, discover and book parking accommodations around the united states for their tiny home.</p>
            </div>
            <ul class="project-tech-list">
              <li>React</li>
              <li>JavaScript</li>
              <li>Ruby On Rails</li>
              <li>AWS</li>
              <li>Redux</li>
              <li>PostgreSQL</li>
              <li>Semantic UI React</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <div class="project-links">
              <a href="https://github.com/Salsa-Dude/TinyHome-Parkway-App" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://tinyhome-frontend.herokuapp.com/properties" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="project-image">
          <a href="https://tinyhome-frontend.herokuapp.com/properties" rel="noopener noreferrer" target="_blank">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
              <!-- <div style="max-width: 700px; display: block;"> -->
              <img alt="" role="presentation" aria-hidden="true" src="https://featured-projects.s3.amazonaws.com/tinyhome-project.png">
              <!-- </div> -->
            </div>
          </a>
        </div>
      </li>
      <li class="project-li">
        <div class="project-content">
          <div>
            <h3 class="project-title">
              <a href="http://www.diamondcleanshine.com/" rel="noopener noreferrer" target="_blank">DiamondShine</a>
            </h3>
            <div class="project-description">
              <p>Design and created a 11-page website for a local cleaning business.</p>
            </div>
            <ul class="project-tech-list">
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Jquery</li>
              <li>Bootstrap</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <div class="project-links">
              <!-- <a href="https://github.com/Salsa-Dude/TinyHome-Parkway-App" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github"></i>
              </a> -->
              <a href="http://www.diamondcleanshine.com/" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="project-image">
          <a href="http://www.diamondcleanshine.com/" rel="noopener noreferrer" target="_blank">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
              <!-- <div style="max-width: 700px; display: block;"> -->
              <img alt="" role="presentation" aria-hidden="true" src="https://featured-projects.s3.amazonaws.com/diamondshine-project.png">
              <!-- </div> -->
            </div>
          </a>
        </div>
      </li>
      <li class="project-li">
        <div class="project-content">
          <div>
            <h3 class="project-title">
              <a href="https://azucar-gmu.herokuapp.com/" rel="noopener noreferrer" target="_blank">GMU SALSA CLUB</a>
            </h3>
            <div class="project-description">
              <p>Design and created a website for the salsa dance community at George Mason University to share the joys of salsa dancing with the GMU community through lessons and performances.</p>
            </div>
            <ul class="project-tech-list">
              <li>JavaScript</li>
              <li>Jquery</li>
              <li>Bootstrap</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <div class="project-links">
              <!-- <a href="https://github.com/Salsa-Dude/TinyHome-Parkway-App" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github"></i>
              </a> -->
              <a href="https://azucar-gmu.herokuapp.com/" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="project-image">
          <a href="https://azucar-gmu.herokuapp.com/" rel="noopener noreferrer" target="_blank">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
              <!-- <div style="max-width: 700px; display: block;"> -->
              <img alt="" role="presentation" aria-hidden="true" src="https://featured-projects.s3.amazonaws.com/azucar-project.png">
              <!-- </div> -->
            </div>
          </a>
        </div>
      </li>
      <li class="project-li">
        <div class="project-content">
          <div>
            <h3 class="project-title">
              <a href="https://www.ariasfence.com/" rel="noopener noreferrer" target="_blank">Arias Fence</a>
            </h3>
            <div class="project-description">
              <p>Design and created a 6-page website for a local fence business. Established a digital footprint including social media presence and google analytics.</p>
            </div>
            <ul class="project-tech-list">
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Jquery</li>
              <li>Bootstrap</li>
              <li>CSS</li>
              <li>HTML</li>
            </ul>
            <div class="project-links">
              <!-- <a href="https://github.com/Salsa-Dude/TinyHome-Parkway-App" aria-label="GitHub Link" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-github"></i>
              </a> -->
              <a href="https://www.ariasfence.com/" aria-label="External Link" class="external" rel="noopener noreferrer" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="project-image">
          <a href="https://www.ariasfence.com/" rel="noopener noreferrer" target="_blank">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper gatsby-image-wrapper-constrained img">
              <!-- <div style="max-width: 700px; display: block;"> -->
              <img alt="" role="presentation" aria-hidden="true" src="https://featured-projects.s3.amazonaws.com/ariasfence-project.png">
              <!-- </div> -->
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
