<section id="my-skills" class="section skills">
  <div class="section_title">Skills</div>
  <div class="section_content">
    <div class="skillz">
      <div class="skillz_category">
        <div class="skillz_category_label">Languages</div>
        <ul>
          <li class="skillz_category_item">JavaScript</li>
          <li class="skillz_category_item">PHP</li>
          <li class="skillz_category_item">HTML/HTML5</li>
          <li class="skillz_category_item">CSS/SASS</li>
          <li class="skillz_category_item">Ruby</li>
          <li class="skillz_category_item">Python</li>
          <li class="skillz_category_item">TypeScript</li>
          <li class="skillz_category_item">C++</li>
          <li class="skillz_category_item">GraphQL</li>
          <li class="skillz_category_item">SQL</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Frameworks</div>
        <ul>
          <li class="skillz_category_item">React</li>
          <li class="skillz_category_item">Node</li>
          <li class="skillz_category_item">Ruby on Rails</li>
          <li class="skillz_category_item">Laravel</li>
          <li class="skillz_category_item">Zend</li>
          <li class="skillz_category_item">CodeIgniter</li>
          <li class="skillz_category_item">Bootstrap</li>
          <li class="skillz_category_item">TailwindCSS</li>
          <li class="skillz_category_item">Materialise</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Tools</div>
        <ul>
          <li class="skillz_category_item">Bash</li>
          <li class="skillz_category_item">AWS</li>
          <li class="skillz_category_item">Git & Github</li>
          <li class="skillz_category_item">Jira</li>
          <li class="skillz_category_item">Chrome DevTools</li>
          <li class="skillz_category_item">Postman</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Design</div>
        <ul>
          <li class="skillz_category_item">Figma</li>
          <li class="skillz_category_item">Adobe XD</li>
          <li class="skillz_category_item">Photoshop</li>
        </ul>
      </div>
    </div>
  </div>
</section>
