<section id="my-skills" class="section skills">
  <div class="section_title">Skills</div>
  <div class="section_content">
    <div class="skillz">
      <div class="skillz_category">
        <div class="skillz_category_label">Languages</div>
        <ul>
          <li class="skillz_category_item">JavaScript</li>
          <li class="skillz_category_item">Ruby</li>
          <li class="skillz_category_item">TypeScript</li>
          <li class="skillz_category_item">Java</li>
          <li class="skillz_category_item">C++</li>
          <li class="skillz_category_item">GraphQL</li>
          <li class="skillz_category_item">SQL</li>
          <li class="skillz_category_item">CSS/SASS</li>
          <li class="skillz_category_item">HTML</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Frameworks / Packages</div>
        <ul>
          <li class="skillz_category_item">React</li>
          <li class="skillz_category_item">Angular</li>
          <li class="skillz_category_item">Rails</li>
          <li class="skillz_category_item">Node.js</li>
          <li class="skillz_category_item">Bootstrap</li>
          <li class="skillz_category_item">Materialise</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Tools</div>
        <ul>
          <li class="skillz_category_item">Bash</li>
          <li class="skillz_category_item">AWS</li>
          <li class="skillz_category_item">Git & Github</li>
          <li class="skillz_category_item">Jira</li>
          <li class="skillz_category_item">Chrome DevTools</li>
          <li class="skillz_category_item">Postman</li>
        </ul>
      </div>
      <div class="skillz_category">
        <div class="skillz_category_label">Design</div>
        <ul>
          <li class="skillz_category_item">Prototyping</li>
          <li class="skillz_category_item">Wireframing</li>
          <li class="skillz_category_item">Photoshop</li>
        </ul>
      </div>
    </div>
  </div>
</section>
